<% include ../partials/header %>
<div class="text-center mt-auto">
	<h1 class="">Edit <%=fCamp.name%></h1>

	<form action="/index/<%=fCamp._id%>?_method=PUT" method="POST" m-auto class="w-25 mx-auto mt-4">
		<div class="m-2 ">
			<input type="text" name="camp[name]" value= "<%=fCamp.name%>" class="text-center w-100">
		</div>
		<div class="m-2 ">
			<input type="number" name="camp[price]" value="<%= fCamp.price %>" class="text-center w-100">
		</div>
		<div class="m-2">
			<input type="text" name="camp[img]" value="<%=fCamp.img%>" class="text-center w-100">
		</div>
		<div class="m-2">
			<input type="text" name="camp[desc]" value="<%=fCamp.desc%>" class="text-center w-100">
		</div>
		<div class="m-2">
			<button class="text-center w-100">Submit</button>
		</div>
		
	</form>
</div>


<a href="/index" class="d-flex mx-auto w-25 text-center">Go back</a>

<% include ../partials/footer %>